################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MusicStoreSerializable/.vs/MusicStoreSerializable
