################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MusicStoreSerializable/.vs/MusicStoreSerializable
/MusicStoreSerializable/MusicStoreSerializable.ConApp/bin/Debug/net8.0
/MusicStoreSerializable/MusicStoreSerializable.ConApp/obj
/MusicStoreSerializable/MusicStoreSerializable.Logic/obj
/MusicStoreSerializable/MusicStoreSerializable.WebAPI/obj
/MusicStoreSerializable/MusicStoreSerializable.Logic/bin/Debug/net8.0
/MusicStoreSerializable/MusicStoreSerializable.WebAPI/bin/Debug/net8.0
